.fixed-header{
  padding: 0;
  #navbarId{

  }
  .header{
    width: 100%;
    position: absolute;
    opacity: 0;
    .flex{
      align-items: center;
    }
    ul{
      li{
        display: inline-block;
        a{
          font-size: 20px;
          line-height: 24px;
          font-family: 'SF UI Regular', sans-serif;
          &:hover{
            color: #23B0FF;
            transition: all .5s ease;
          }
        }
        &+li{
          margin-left: 35px;
        }
      }
    }
  }
  //fixed-header
  .position-fixed {
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 999;
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .bs-navbar {
    //transition: 0.3s ease;
    //box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    background-color: #002255;
  }
  //fixed-header : END
  a.tel{
    display: none;
    margin-left: auto;
  }
}
@media(max-width: 1000px) {
  .fixed-header{
    a.logo{
      img{
        width: 140px;
      }
    }
    nav{
      display: none;
    }
    .display_none{
      display: block;
    }
    a.button{
      margin-left: auto;
    }
  }
}
@media (max-width: 640px) {
  .fixed-header{
    a.tel{
      display: block;
    }
    a.button{
      display: none;
    }
  }
}

@media (max-width: 380px) {
  .fixed-header a.logo img {
    width: 100px;
  }
  button.menu-btn span{
    margin-left: 20px;
  }
}