@font-face {
  font-family: 'SF UI Black';
  font-weight: normal;
  src: local('SF UI Black'), url('../fonts/SFUIDisplay-Black.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Bold';
  font-weight: normal;
  src: local('SF UI Bold'), url('../fonts/SFUIDisplay-Bold.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Heavy';
  font-weight: normal;
  src: local('SF UI Heavy'), url('../fonts/SFUIDisplay-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Light';
  font-weight: normal;
  src: local('SF UI Light'), url('../fonts/SFUIDisplay-Light.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Regular';
  font-weight: normal;
  src: local('SF UI Regular'), url('../fonts/SFUIDisplay-Regular.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Semibold';
  font-weight: normal;
  src: local('SF UI Semibold'), url('../fonts/SFUIDisplay-Semibold.woff') format('woff');
}