.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: $max-width-modal;
  min-width: $min-width-modal;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: $bg-overlay;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

button.md-close {
  outline: none;
  background: none !important;
  width: 30px !important;
  border: none;
  height: 30px;
  cursor: pointer;
  margin-left: 90%;
  span {
    width: 30px;
    height: 1px;
    background-color: #b3b3b3;
    display: block;
    &:first-child{
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:last-child{
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: -1px;
    }
  }
  &:hover{
    span{
      background-color: #fff;
      transition: all .5s ease;
    }
  }
}

/* Content styles */
.md-content {
  text-align: center;
  color: $color-modal-1;
  background: $bg-modal-1;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  .md-close{
    position: absolute;
    top: 25px;
    right: 25px;
  }
  form{
    margin: 0 auto;
  }
  .content{
    padding-bottom: 40px;
    .logo{
      padding-top: 80px;
    }
  }
  .content > p{
    font-size: 22px;
    line-height: 28px;
    padding: 25px 0;
  }
}
/* Individual modal styles with animations/transitions */
@media (max-width: 1000px) {
  .md-modal{
    width: 60%;
  }
}
@media (max-width: 640px) {
  .md-modal{
    width: 80%;
  }
  .md-content .content {
    padding: 40px;
  }
  .md-content .content .logo {
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  .md-content form {
    width: 100%;
  }
  .md-content .content {
    padding: 30px;
  }
  .md-content .content > p{
    br{
      display: none;
    }
  }
  .md-content .content .logo {
    padding-top: 35px;
  }
}