/* pushy style */
.pushy-left{
  transform: translate3d(-280px,0,0);
}
.pushy-right{
  transform: translate3d(280px,0,0);
}
.pushy-open-left #container,
.pushy-open-left .push {
  transform: translate3d(280px, 0, 0);
}
.pushy-open-left .site-overlay, .pushy-open-right .site-overlay{
  z-index: 1000;
}
button.menu-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  span {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
    margin-left: 30px;
    display: block;
    &+ span {
      margin-top: 5px;
    }
  }
}
.pushy a.close{
  position: absolute;
  top: 43px;
  right: 25px;
  opacity: 1;
  text-align: right;
  padding: 15px 0;
  span {
    width: 30px;
    height: 3px;
    background-color: #2D2D2D;
    display: block;
    &:first-child{
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:last-child{
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  }
}
.pushy {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #fff;
  overflow: auto;
}
.pushy .pushy-content{
  box-sizing: border-box;
  flex-direction: column;
  justify-content: start  ;
  padding: 40px 30px 50px 35px;
  height: 100%;
  min-height: 480px;
  align-items: start;
}
.pushy a{
  padding: 10px 0;
}
.pushy ul{
  margin-top: 80px;
}
.pushy li a{
  font-family: $ff-regular;
  display: block;
  position: relative;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}
.pushy li a:hover{
  color: #ffffff;
}
.pushy li a:hover{
  color: #23B0FF
}
.pushy .social{
  margin-top: auto;
  a{
    display: inline-block;

  }
  .icon{
    fill: #002255;
  }
}
.pushy {
  .icon-vk {
    width: 2em;}
  a {
    font-size: 22px;
    line-height: 26px;
    color: #2D2D2D;
  }
  .social{
    margin-bottom: 20px;
    a{
      & + a{
        margin-left: 10px;
      }
    }
  }
  .city {
    font-size: 18px;
    line-height: 21px;
    color: #2D2D2D;
  }
  .contacts{
    a{
      &:hover{
        color: #2339FF;
      }
    }
  }
}
@media(max-width: 479px) {
  .pushy .contacts a {
    font-size: 18px;
    line-height: 26px;
  }
}
/* pushy style : END ================================= */