.header{
  position: fixed;
  top: 55px;
  width: 100%;
  .flex{
    align-items: center;
  }
  ul{
    li{
      display: inline-block;
      a{
        font-size: 22px;
        line-height: 26px;
        font-family: 'SF UI Regular', sans-serif;
        &:hover{
          color: #23B0FF;
          transition: all .5s ease;
        }
      }
      &+li{
        margin-left: 35px;
      }
    }
  }
}
//fixed-header
.position-fixed {
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 999;
}
.bs-navbar {
  transition: 0.3s ease;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  background-color: #2339FF;
  //color: #333;
}
//fixed-header : END
.sect1 {
  background: url("../img/s1-bg.jpg") top center no-repeat;
  padding: 55px 0 140px;

 h1,h2,h3{
  color: #fff;
 }
 h1{
   padding-top: 140px;
   letter-spacing: 2px;
 }
 h2{
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 13px;
 }
 h3{
   padding-top: 0;
  font-size: 28px;
  line-height: 33px;
  font-weight: normal;
  font-family: 'SF UI Light', sans-serif;
  text-transform: none;
  span{
   font-family: 'SF UI Heavy', sans-serif;
  }
 }
 .form{
  margin-top: 56px;
  &>p{
   width: 100%;
   color: #fff;
   font-size: 22px;
   line-height: 28px;
   margin-bottom: 24px;
  }
 }
}
@media (max-width: 1200px) {
  .sect1{
    padding: 50px 0 90px;
  }
  .sect1 h1 {
    //padding-top: 75px;
    letter-spacing: 1px;
    font-size: 75px;
    line-height: 85px;
  }
  .sect1 h2 {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 13px;
  }
  .sect1 h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .sect1 .form > p {
    font-size: 20px;
    line-height: 26px;
  }
}
@media(max-width: 1000px) {
  .header ul li a {
    font-size: 18px;
    line-height: 24px;
  }
  .sect1 h1 {
    font-size: 70px;
    line-height: 80px;
  }
  .sect1 h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .sect1 h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .sect1 .form > p {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .sect1 {
    background-position: -555px 0;
  }
  .sect1 h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .sect1 h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .sect1 h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .sect1 .form > p {
    font-size: 18px;
    line-height: 22px;
  }
  .sect1 form {
    width: 300px;
  }
  .sect1 form input{
    margin-bottom: 15px;
  }
  .bs-navbar {
    padding: 15px 0;
  }
}
@media (max-width: 640px) {
  .sect1 .menu-btn.display_none{
    display: block;
  }
  .sect1 .header nav{
    display: none;
  }
}
@media (max-width: 479px) {}
@media (max-width: 380px) {}