.sect7{
  h3{
    color: #237BFF;
    padding-top: 24px;
  }
  .logo-img{
    padding: 40px 0;
  }
}
.sect7-slick{

}
.reviews{
  h2{
    margin-bottom: 50px;
  }
}
.sect7-slick_slide{
  margin-right: 30px  ;
  .review-header{
    display: flex;
    justify-content: start;
    background-color: #237BFF;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    .flex-left{
      display: inherit;
      padding-right: 30px;
    }
    .radial{
      width: 71px;
      height: 71px;
      border-radius: 50%;
    }
    .name{
      font-size: 22px;
      line-height: 26px;
      font-family: $ff-bold;
    }
    .city{
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.71);
      font-family: $ff-regular;
    }
    .work{
      font-size: 16px;
      line-height: 19px;
      font-family: $ff-light;
      padding-top: 13px;
    }
  }
  p.text{
    min-height: 155px;
    font-size: 16px;
    line-height: 19px;
    padding: 20px;
    box-sizing: border-box;
  }
  p.total{
    font-size: 16px;
    line-height: 19px;
    color: #237BFF;
    font-family: $ff-light;
    padding-left: 20px;
  }
}
@media (max-width: 1200px) {
  .sect7 .logo-img img{
    width: 100%;
  }
}
@media(max-width: 1000px) {
  .sect7 .icon-slick-r {
    right: 41%;
  }
  .sect7 .icon-slick-l {
    left: 41%;
  }
  .sect7-slick_slide p.text {
    min-height: 235px;
  }
  .sect7-slick_slide .review-header{
    padding: 15px;
  }
  .sect7-slick_slide .review-header .flex-left{
    padding-right: 20px;
  }
  .sect7-slick_slide .review-header .name {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {}
@media (max-width: 640px) {}
@media (max-width: 479px) {}
@media (max-width: 380px) {}