.sect4{
  background: url("../img/sect4-bg.jpg") top center no-repeat;
  h3{
    padding: 31px 0 27px;
  }
}
.sect4-slick{
  .slide{
    margin: 13px;
    padding: 56px 40px;
    width: 350px!important;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16);
    &+.slide{
      margin-left: 10px;
    }
    h1.title{
      font-family: $ff-black;
      font-size: 38px;
      line-height: 45px;
      color: #237BFF;
      text-transform: capitalize;
    }
    h2.text{
      padding: 20px 0 25px;
      font-size: 18px;
      line-height: 21px;
    }
    p{
      font-family: $ff-semibold;
      padding: 30px 0 10px;
      line-height: 22px;
    }
    .list{
      display: flex;
      justify-content: space-between;
      span{
        font-size: 14px;
        line-height: 20px;
        &:last-child{
          font-family: $ff-bold;
        }
      }
    }
  }
  .slide3,.slide1{
    background-color: #237BFF;
    color: #fff;
    h1.title,h2.text{
      color: #fff;
    }
  }
}
@media (max-width: 1200px) {
  .sect4-slick .slide {
    width: 295px !important;
    padding: 35px 20px;
  }
}
@media(max-width: 1000px) {
  .sect4-slick .slide {
    width: 344px !important;
  }
}
@media (max-width: 767px) {
  .sect4{
    padding-bottom: 10px ;
  }
  .sect4-slick .slide {
    width: 284px !important;
  }

}
@media (max-width: 640px) {
  .sect4-slick .slide {
    width: 434px !important;
    padding: 45px 50px;
  }
  .sect4-slick  .icon-slick-r {
    right: 38%;
  }
  .sect4-slick  .icon-slick-l {
    left: 38%;
  }

}
@media (max-width: 479px) {
  .sect4 h2,
  .sect4 h3{
    text-align: center;
  }
  .sect4 h3 {
    padding: 15px 0 10px;
  }
  .sect4-slick .slide {
    width: 334px !important;
    padding: 35px 25px;
  }
  .sect4-slick  .icon-slick-r {
    right: 36%;
  }
  .sect4-slick  .icon-slick-l {
    left: 36%;
  }
  .sect4 .slide h2{
    text-align: left;
  }
  .sect4-slick .slide h1.title {
    font-size: 32px;
    line-height: 36px;
  }
  .sect4-slick .slide h2.text{
    padding: 15px 0 20px;
  }
  .sect4-slick .slide p{
    padding: 20px 0 10px;
  }
}
@media (max-width: 380px) {
  .sect4-slick .slide {
    width: 274px !important;
    padding: 35px 25px;
  }
  .sect4-slick  .icon-slick-r {
    right: 33%;
  }
  .sect4-slick  .icon-slick-l {
    left: 33%;
  }
  .sect4-slick .slide{
    padding: 25px 15px;
  }
  .sect4-slick .slide h2.text{
    font-size: 16px;
    line-height: 24px;
  }
}
