.sect5{
  padding: 90px 0 74px;
  h2{
    text-align: center;
    padding-bottom: 77px;
  }
  .flex{
    .item{
      width: 33%;
      text-align: center;
      p{
        padding-top: 25px;
      }
    }
  }
  .form{
    h3{
      padding: 48px 0 28px;
    }
    form{
      display: flex;
      justify-content: space-between;
      width: 100%;
      input:not(.button){
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        border: none;
      }
    }
    p{
      width: 349px;
    }
  }
}
@media (max-width: 1200px) {
  .sect5 .form p {
    width: 300px;
  }
}
@media(max-width: 1000px) {
  .sect5 .form p {
    width: 230px;
  }
  .sect5 .flex .item img{
    width: 100px;
  }
  .sect5 .flex .item p{
    line-height: 24px;
  }
  .sect5 form input{
    font-size: 14px;
    line-height: 22px;
  }
  .sect5 form input.button{
    //font-size: 14px;
    padding: 15px 15px;
  }
}
@media (max-width: 767px) {}
@media (max-width: 640px) {}
@media (max-width: 479px) {}
@media (max-width: 380px) {}
