.sect1 {
  background: url("../img/s1-bg.jpg") top center no-repeat;
  padding: 55px 0 140px;
 .header{
   .flex{
     align-items: center;
    }
  ul{
   li{
     display: inline-block;
     a{
       font-size: 22px;
       line-height: 26px;
       font-family: 'SF UI Regular', sans-serif;
       &:hover{
         color: #23B0FF;
         transition: all .5s ease;
       }
     }
     &+li{
      margin-left: 35px;
    }
   }
  }
 }
 h1,h2,h3{
  color: #fff;
 }
 h1{
   padding-top: 85px;
   letter-spacing: 2px;
 }
 h2{
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 13px;
 }
 h3{
   padding-top: 0;
  font-size: 28px;
  line-height: 33px;
  font-weight: normal;
  font-family: 'SF UI Light', sans-serif;
  text-transform: none;
  span{
   font-family: 'SF UI Heavy', sans-serif;
  }
 }
 .form{
  margin-top: 56px;
  &>p{
   width: 100%;
   color: #fff;
   font-size: 22px;
   line-height: 28px;
   margin-bottom: 24px;
  }
 }
}