.sect7{
  h3{
    color: #237BFF;
    padding-top: 24px;
  }
  .logo-img{
    padding: 40px 0;
  }
}
//logo
.sect7 .flex.logo{
  padding: 40px 0 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  img{
    padding: 10px 10px;
    height: 55px;
    //max-width: 100px;
    //height: auto;
    //&+img{
    //  padding-left: 20px;
    //}
  }
  .sect7-logo_1{
    height: 80px;
  }
  .sect7-logo_2{}
  .sect7-logo_3{
    height: 80px;
  }
  .sect7-logo_4{}
  .sect7-logo_5{    height: 35px;}
  .sect7-logo_6{}
  .sect7-logo_7{}
  .sect7-logo_8{height: 40px;}
  .sect7-logo_9{height: 35px;}
  .sect7-logo_10{}
  .sect7-logo_11{
    height: 25px;
    padding: 0 15px;
  }
  .sect7-logo_12{
    height: 30px;
    padding: 0 15px;
  }
  .sect7-logo_13{height: 35px;}
  .sect7-logo_14{
    height: 45px;
    padding: 0 15px;

  }
  .sect7-logo_15{}
  .sect7-logo_16{height: 30px;}
  .sect7-logo_17{height: 30px;}
  .sect7-logo_18{height: 40px;}
  .sect7-logo_19{height: 55px;}
  .sect7-logo_20{}
}

//logo : END
.sect7-slick{

}
.reviews{
  h2{
    margin-bottom: 50px;
  }
}
.sect7-slick_slide{
  margin-right: 30px  ;
  .review-header{
    display: flex;
    justify-content: start;
    background-color: #237BFF;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    .flex-left{
      display: inherit;
      padding-right: 30px;
    }
    .radial{
      width: 71px;
      height: 71px;
      border-radius: 50%;
    }
    .name{
      font-size: 22px;
      line-height: 26px;
      font-family: $ff-bold;
    }
    .city{
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.71);
      font-family: $ff-regular;
    }
    .work{
      font-size: 16px;
      line-height: 19px;
      font-family: $ff-light;
      padding-top: 13px;
    }
  }
  p.text{
    min-height: 155px;
    font-size: 16px;
    line-height: 19px;
    padding: 20px;
    box-sizing: border-box;
  }
  p.total{
    font-size: 16px;
    line-height: 19px;
    color: #237BFF;
    font-family: $ff-light;
    padding-left: 20px;
  }
}
@media (max-width: 1200px) {
  .sect7 .logo-img img{
    width: 100%;
  }
}
@media(max-width: 1000px) {
  .sect7 .icon-slick-r {
    right: 41%;
  }
  .sect7 .icon-slick-l {
    left: 41%;
  }
  .sect7-slick_slide p.text {
    min-height: 235px;
  }
  .sect7-slick_slide .review-header{
    padding: 15px;
  }
  .sect7-slick_slide .review-header .flex-left{
    padding-right: 20px;
  }
  .sect7-slick_slide .review-header .name {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .sect7 h3{
    br{
      display: none;
    }
  }
  .reviews h2 {
    margin-bottom: 0;
  }
  .sect7-slick_slide p.text {
    min-height: 160px;
  }
  .sect7 .icon-slick-r {
    right: 38%;
  }
  .sect7 .icon-slick-l {
    left: 38%;
  }
  .sect7-slick_slide{
    margin-right: 0;
  }
  .sect7 .flex.logo img {
    max-height: 30px;
  }
}
@media (max-width: 640px) {
  .sect7 .icon-slick-r {
    right: 34%;
  }
  .sect7 .icon-slick-l {
    left: 34%;
  }
}
@media (max-width: 479px) {
  .sect7 .icon-slick-r {
    right: 30%;
  }
  .sect7 .icon-slick-l {
    left: 30%;
  }
  .sect7-slick_slide p.total{
    br{
      display: none;
    }
  }
}
@media (max-width: 380px) {
  .sect7 .icon-slick-r {
    right: 26%;
  }
  .sect7 .icon-slick-l {
    left: 26%;
  }

}