.sect3{
  text-align: center;
  h3{
    padding-bottom: 50px;
  }
  .worker-block{
    text-align: center;
    width: 25%;
    img.round{
      width: 170px;
      height: 170px;
      border-radius: 50%;
    }
    h4.name{
      position: relative;
      margin-top: 20px;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
    }
    p{
      padding: 7px 10px 0;
    }
  }
}
@media (max-width: 767px) {
  .sect3{
    padding-bottom: 0;
  }
}
@media (max-width: 640px) {
  .sect3 h3{
    padding: 14px 55px 25px;
  }
  .icon-slick-r {
    right: 40%;
  }
  .icon-slick-l {
    left: 40%;
  }
}
@media (max-width: 479px) {
  .sect3 .worker-block img.round {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .sect3 h3 {
    padding: 14px 55px 5px;
  }
  .icon-slick-r {
    right: 33%;
  }
  .icon-slick-l {
    left: 33%;
  }
}
@media (max-width: 380px) {
  .sect3 h3 {
    padding: 14px 35px 5px;
  }
  .icon-slick-r {
    right: 29%;
  }
  .icon-slick-l {
    left: 29%;
  }
}