.sect6{
  background: #F8F8F8;
  h3{
    padding: 25px 0 45px;
    color: #333333;
  }
  h4{
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 42px;
  }
  .sect6-bottom{
    text-align: center;
    h3{
      padding: 71px 0 34px;
    }
    a.button{
      margin: 0 auto;
    }
  }

}
.sect6-slick {
  .slide {
    margin: 13px;
    padding: 52px 20px 0 32px;
    width: 350px !important;
    min-height: 450px;
    box-sizing: border-box;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.16);
    background-color: #237BFF;
    border-radius: 4px;
    background-position: bottom right;
    background-repeat: no-repeat;
    & + .slide {
      margin-left: 10px;
    }
    ul{
      padding-top: 50px;
      li{
        position: relative;
        padding-left: 40px;
        color: #fff;
        font-family: $ff-semibold;
        font-size: 16px;
        line-height: 19px;
        & + li{
          margin-top: 20px;
        }
        &:after{
          position: absolute;
          content: url("../img/sect6-check.svg");
          left: 0;
          top: 0;
        }
      }
    }
  }
  .slide1{
    background-image: url(../img/sect6-1.svg);
  }
  .slide2{
    background-image: url(../img/sect6-2.svg);
  }
  h4{
    padding-bottom: 0;
    font-family: $ff-black;
    font-size: 28px;
    line-height: 38px;
    color: #fff;
    text-transform: none;
  }

}
@media (max-width: 1200px) {
  .sect6-slick .slide{
    width: 295px!important;
    padding: 40px 20px 0 25px;
  }
  .sect6-slick h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media(max-width: 1000px) {
  .sect6-slick .slide {
    width: 344px !important;
  }
  .sect6 h3 {
    padding: 20px 0 30px;
  }
  .sect6 h4 {
    padding-bottom: 20px;
  }
  .sect6 .sect6-bottom h3 {
    padding: 5px 0 25px;
  }
}
@media (max-width: 767px) {}
@media (max-width: 640px) {}
@media (max-width: 479px) {}
@media (max-width: 380px) {}