.sect5{
  padding: 90px 0 74px;
  h2{
    text-align: center;
    padding-bottom: 77px;
  }
  .flex{
    .item{
      width: 33%;
      text-align: center;
      p{
        padding-top: 25px;
      }
    }
  }
  .form{
    h3{
      padding: 48px 0 28px;
      text-align: left;
    }
    form{
      display: flex;
      justify-content: space-between;
      width: 100%;
      input:not(.button){
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        border: none;
      }
    }
    p{
      width: 349px;
    }
  }
}
@media (max-width: 1400px) {
  .sect5 .item {
    img{
      width: 100px;
    }
  }
  .sect5 h2 {
    padding-bottom: 60px;
  }
  .sect5 .form h3 {
    br{
      display: none;
    }
  }
  .sect5 .flex .item p{
    line-height: 24px;
  }
}
@media (max-width: 1200px) {
  .sect5 .form p {
    width: 300px;
  }
}
@media(max-width: 1000px) {
  .sect5 .form p {
    width: 230px;
  }
  .sect5 .flex .item img{
    width: 100px;
  }
  .sect5 .flex .item p{
    line-height: 24px;
  }
  .sect5 form input{
    font-size: 14px;
    line-height: 22px;
  }
  .sect5 form input.button{
    //font-size: 14px;
    padding: 15px 15px;
  }
}
@media (max-width: 767px) {
  .sect5 {
    padding: 50px 0;
  }
  .sect5 .form form {
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
  }
  .sect5 .form p {
    display: block;
    width: 350px;
  }
  .sect5 .flex .item {
    width: 30%;
  }
  .sect5 .form h3 {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .sect5 h2{
    padding-bottom: 30px;
  }
  .sect5 .flex{
    flex-direction: column;
    justify-content: center;
    .item{
      width: 100%;
      display: flex;
      align-items: flex-start;
      img{
        width: 70px;
      }
      p{
        padding: 0 0 0 50px;
        text-align: left;
      }
      & + .item{
        margin-top: 30px;
      }
    }
  }
  .sect5 .form {
    form{
      width: 100%;
      justify-content: center;
    }
    h3{
      text-align: center;
      padding: 48px 0 28px ;

    }
  }
}
@media (max-width: 479px) {
  .sect5 .flex .item img {
    width: 50px;
  }
  .sect5 .flex .item p {
    padding: 0 0 0 25px;
  }
  .sect5 .flex .item {
    align-items: center;
  }
}
@media (max-width: 380px) {
  .sect5 .form p{
    width: 100%;
  }
  .sect5 .form h3{
    br{
      display: none;
    }
  }
}
