.sect2{
  background-color: #F8F8F8;
  &>.conteiner{
    background: url("../img/sect2-bg.png") center left no-repeat;
  }
  .r-block{
    width: 49%;
    margin-left: auto;
  }
  h2{
    padding-bottom: 25px;
  }
  p{
    font-size: 22px;
    line-height: 28px;
    &+p{
      padding-top: 75px;
    }
  }
  a.button{
    margin-top: 23px;
  }
}

@media (max-width: 1200px) {
  .sect2 .conteiner {
    background-size: 450px;
  }
  .sect2 .r-block {
    width: 55%;
  }
  .sect2 p {
    font-size: 20px;
    line-height: 26px;
  }
}
@media(max-width: 1000px) {
  .sect2 .conteiner {
    background-size: 250px;
  }
  .sect2 .r-block {
    width: 65%;
  }
  .sect2 p {
    font-size: 18px;
    line-height: 24px;
  }
  .sect2 p + p {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .sect2 .conteiner {
    background-size: 150px;
    background-position: 0 -30px;
  }
  .sect2 .r-block {
    width: 100%;
    text-align: center;
  }
  .sect2 h2 {
    padding-left: 135px;
    text-align: left;
  }
}
@media (max-width: 640px) {
  .sect2 .conteiner{
    background: none;
  }
  .sect2 h2{
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .sect2 h2 {
    padding-bottom: 15px;
  }
  .sect2 p {
    font-size: 16px;
    line-height: 22px;
  }
  .sect2 p + p {
    padding-top: 25px;
  }
  .sect2 a.button {
    margin-top: 20px;
  }
}
@media (max-width: 380px) {}
